@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.nav__container{
    width: 100%;
    background-color: #000;
    position: relative;
    z-index: 1;
    height: fit-content;
    height: 224px;
}

.logo__container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #000;
    width: 229px;
    height: 100%;
    background-image: url("../assets/IMG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.navLink__container{
    padding: 0px 60px 0px 260px;
    height: 112px;
}

.social__name{
    color: #FFF;
    font-family: "Bebas Neue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
}

.logo__container{
    width: 229px;
}

.logo{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.nav__link{
    color: #FFF;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 100%;
    text-transform: uppercase;
}

.nav__linkName{
    color: #FF6700;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 100%;
    text-transform: uppercase;
}

.nav__linkBot{
    border-bottom: 3px solid #FF6700;
}

.social__linkHeader{
    width: 1240px;
}

.social__header{
    height: 106px;
    border-bottom: 1px solid #fff;
    padding: 0px 20px;
}

.header__btn{
    width: 159px;
    height: 66px;
    color: #FFF;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    background-color: rgba(255, 103, 0, 1);
    filter: drop-shadow(0px 0px 25px #FF6700);
    clip-path: polygon(0 15px, 15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%);
}

.social__icon{
    color: #fff;
    font-size: 22px;
}

/* Loader Style */

.loader__container{
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: fixed;
    inset: 0;
    z-index: 999;
}

.sevenStone__name{
    font-size: 22px;
    color: #fff;
    font-family: "Outfit", sans-serif;
}

.left__svg svg{
    margin-left: -48px;
}

.menu__logoCon{
    position: absolute;
    right: 20px;
    top: 40%;
}

.nav__menuIcon{
    color: #fff;
    font-size: 32px;
}

.submenu{
    width: 300px;
    height: 100vh;
    background-color: #000;
    position: fixed;
    z-index: 4;
    top: 0;    
    padding: 20px;
    right: -300px;
    transition: all 0.5s ease-in-out;
}

.submenu.open{
    right: 0;
}

.closeIcon__menu{
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    display: grid;
    place-content: center;
    border-radius: 6px;
}

.closeIcon__icon{
    color: #fff;
    font-size: 18px;
}

.navMenuLink__content{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (max-width: 1110px) {
    .navLink__container{
        padding: 0px 30px 0px 180px;
    }
}

@media only screen and (max-width: 1024px) {
    .nav__container{
        height: 150px;
    }
}

@media only screen and (max-width: 500px) {
    .logo__container{
        width: 189px;
    }
    .logo{
        width: 120px;
        object-fit: contain;
    }
}

.gif__logo{
    width: 350px;
    height: 350px;
    object-fit: cover;
}

@media only screen and (max-width: 360px) {
    .gif__logo{
        width: 100%;
    }
}

.bannerHeading__Title{
    font-size: 48px;
    color: #fff;
    font-weight: 600;
}

@media only screen and (max-width: 640px) {
    .bannerHeading__Title{
        font-size: 32px;
    }
}